<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>
		<div class="container d-flex justify-content-center ">
			<div class="row  d-flex justify-content-center">
				<div class="col-12  d-flex justify-content-center">
					<div class="card" style="width: 39rem;" id="shadow">

						<div class="card-header">
							<h1 class="card-title d-flex justify-content-center">New
								User</h1>

							<!-- 							<a class="float-right" type="reset" id="myBtn2"
								th:href="@{/home/user/getuseraccess}">Manage Access</a>
 -->
						</div>
						<div class="card-body justify-content-center">
							<form class="main" th:action="@{/home/savenewuserprocess}"
								th:object="${userEntity}" method="post">
								<div class='main '>

									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-user"></i></span>
										<input type="text" class="form-control" aria-label="uName"
											aria-describedby="basic-addon1" id="uName" name="uName"
											th:field="*{uName}" autocomplete="off"
											oninput="usernamefiledvalidation()" required="required"> <label
											style="margin-left: 2.2rem;" for="floatingInput">UserName</label>
									</div>

									<p th:if="${#fields.hasErrors('uName')}" th:errors="*{uName}"
										class="alert alert-danger"></p>
									<span id="uNameef" style="color: red"></span> <span
										id="uNameef1" style="color: red"></span>








									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
										<input type="text" class="form-control" aria-label="uFName"
											aria-describedby="basic-addon1" id="uFName" name="uFName"
											th:field="*{uFName}" autocomplete="off"
											oninput="usernamefiledvalidation()" required="required"> <label
											style="margin-left: 2.2rem;" for="floatingInput">First
											Name</label>
									</div>

									<p th:if="${#fields.hasErrors('uFName')}" th:errors="*{uFName}"
										class="alert alert-danger"></p>
									<span id="uFNameef" style="color: red"></span> <span
										id="uFNameef1" style="color: red"></span>








									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
										<input type="text" class="form-control" aria-label="uLName"
											aria-describedby="basic-addon1" id="uLName" name="uLName"
											th:field="*{uLName}" autocomplete="off"
											oninput="usernamefiledvalidation()" required="required"> <label
											style="margin-left: 2.2rem;" for="floatingInput">Last
											Name</label>
									</div>

									<p th:if="${#fields.hasErrors('uLName')}" th:errors="*{uLName}"
										class="alert alert-danger"></p>
									<span id="uLNameef" style="color: red"></span> <span
										id="uLNameef1" style="color: red"></span>








									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas  fa-envelope-open-text"></i></span>
										<input type="email" class="form-control" aria-label="uEmail"
											aria-describedby="basic-addon1" id="uEmail" name="uEmail"
											th:field="*{uEmail}" autocomplete="off"
											oninput="usernamefiledvalidation()" required="required"> <label
											style="margin-left: 2.2rem;" for="floatingInput">User
											Email</label>
									</div>

									<p th:if="${#fields.hasErrors('uEmail')}" th:errors="*{uEmail}"
										class="alert alert-danger"></p>
									<span id="uEmailef" style="color: red"></span> <span
										id="uEmailef1" style="color: red"></span>








									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
										<input type="password" class="form-control"
											aria-label="uPassword" aria-describedby="basic-addon1"
											id="decode" name="uPassword" th:field="*{uPassword}"
											autocomplete="off" oninput="usernamefiledvalidation()" required="required">
										<label style="margin-left: 2.2rem;" for="floatingInput">User
											Password</label>
									</div>

									<p th:if="${#fields.hasErrors('uPassword')}"
										th:errors="*{uPassword}" class="alert alert-danger"></p>
									<span id="uPasswordef" style="color: red"></span> <span
										id="uPasswordef1" style="color: red"></span>









									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-exclamation"></i></span>
										<select class="form-select" id="uIsActive" name="uIsActive"
											aria-label="Floating label select example">
											<option value="true" selected>Active</option>
											<option value="false">InActive</option>
										</select> <label for="floatingSelect" style="margin-left: 2.2rem;">Status</label>
									</div>


									<p th:if="${#fields.hasErrors('uIsActive')}"
										th:errors="*{uIsActive}" class="alert alert-danger"></p>
									<span id="uIsActiveef" style="color: red"></span> <span
										id="uIsActiveef1" style="color: red"></span>




									<!-- 									<div class="input-group form-floating mb-2">
										<span class="input-group-text"><i class="fas fa-user"></i></span>
										<select class="form-select" id="chkveg">
											<option value="1">American Black Bear</option>
											<option value="2">Asiatic Black Bear</option>
											<option value="3">Brown Bear</option>
											<option value="4">Giant Panda</option>
											<option value="5">Sloth Bear</option>
											<option value="6">Sun Bear</option>
											<option value="7">Polar Bear</option>
											<option value="8">Spectacled Bear</option>
										</select>
									</div>
 -->


									<!-- 


									<div class="col-sm-11 input-group form-group">
										<div class="input-group-prepend">
											<span class="input-group-text" style="height: 40px"><i
												class="fas fa-building"></i></span>
										</div>
										<input type="text" class="form-control" id="dename"
											placeholder="Enter Department Name " name="dename"
											th:field="*{dename}" required="required" autocomplete="off"
											oninput="deptnamefiledvalidation()"> <br>
									</div>
									<p th:if="${#fields.hasErrors('dename')}" th:errors="*{dename}"
										class="alert alert-danger"></p>
									<span id="denameef" style="color: red"></span>
 -->









									<div class="col-sm-11 text-center">
										<button class="btn btn-outline-primary float-left "
											id="savedept" type="submit" style="width: 45%">Save
											User</button>
										<a class="btn btn-outline-secondary float-right" type="reset"
											style="width: 45%" th:href="@{/home/user/createuser}">RESET</a>
									</div>

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript">
			function deptcodefiledvalidation() {
				var decode = document.getElementById("decode").value;
	
				if (decode.trim() == "") {
					document.getElementById("decodeef").innerHTML = "<b>Please enter department code !!!</b>";
					document.getElementById("savedept").disabled = true;
				} else if (decode.trim().length != 6) {
					document.getElementById("decodeef").innerHTML = "<b>Department length must be 6 characters !!!</b>";
					document.getElementById("savedept").disabled = true;
				} else {
					document.getElementById("decodeef").innerHTML = "";
					document.getElementById("savedept").disabled = false;
				}
			}

			function deptnamefiledvalidation() {
				var dename = document.getElementById("dename").value;
				if (dename.trim() == "") {
					document.getElementById("denameef").innerHTML = "<b>Please enter department name !!!</b>";
					document.getElementById("savedept").disabled = true;
				} else if (dename.trim().length <= 4 || dename.length >= 20) {
					document.getElementById("denameef").innerHTML = "<b>Department name length between 6 to 20 characters !!!</b>";
					document.getElementById("savedept").disabled = true;
				}

				else {
					document.getElementById("denameef").innerHTML = "";
					document.getElementById("savedept").disabled = false;
				}
			}

/* 			$(function() {

			    $('#chkveg').multiselect({

			        includeSelectAllOption: true
			    });

			    $('#btnget').click(function(){

			        alert($('#chkveg').val());
			    });
			});
			
			
			jQuery.fn.multiselect = function() {
			    $(this).each(function() {
			        var checkboxes = $(this).find("input:checkbox");
			        checkboxes.each(function() {
			            var checkbox = $(this);
			            // Highlight pre-selected checkboxes
			            if (checkbox.prop("checked"))
			                checkbox.parent().addClass("multiselect-on");
			 
			            // Highlight checkboxes that the user selects
			            checkbox.click(function() {
			                if (checkbox.prop("checked"))
			                    checkbox.parent().addClass("multiselect-on");
			                else
			                    checkbox.parent().removeClass("multiselect-on");
			            });
			        });
			    });
			};
 */			
			
			
			
/* 			
			
			function deptcodefiledvalidation() {
				var decode = document.getElementById("decode").value;
				console.log(decode);
				if (decode == "") {
					document.getElementById("decodeef").innerHTML = "<b>Please enter department code !!!</b>";
					document.getElementById("savedept").disabled = true;
				} else if (decode.length != 6) {
					document.getElementById("decodeef").innerHTML = "<b>Department length  be 6 characters !!!</b>";
					document.getElementById("savedept").disabled = true;
				} else {
					document.getElementById("decodeef").innerHTML = "";
					document.getElementById("savedept").disabled = false;
				}
			} */
		</script>

		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</section>



</body>
</html>