
<!doctype html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title th:text="${title}"></title>

</head>

<body>
	<section>

		<div class="container d-flex justify-content-center ">
			<div class="row  d-flex justify-content-center">
				<div class="col-12  d-flex justify-content-center">
					<div class="card" style="width: 39rem;">
						<div class="card-header">
							<h1 class="card-title d-flex justify-content-center">Select
								Parent department</h1>
						</div>
						<div class="card-body justify-content-center">
							<form class="main" th:action="@{/home/user/createdepartment}"
								method="post" novalidate="novalidate">
								<div class='main '>
									<div class="row ml-2">

										<div class="input-group form-floating mb-2">
											<span class="input-group-text"><i
												class="fas fa-building"></i></span> <select class="form-select"
												aria-label="Default select example" name="depcode"
												id="depcode" onchange="search()">
												<option>SELECT DEPARTMENT</option>
												<option th:value="${depcode}"
											th:each="depcode : ${allAdminDepartment}" th:text="${depcode}"
											style="width: 400px" />

											</select> <label style="margin-left: 2.8rem;" for="floatingInput">Select
												Department</label>

										</div>

										<div class="col-sm-11 text-center">
											<button class="btn btn-outline-primary float-left "
												id="uppass" type="submit" style="width: 45%">Add sub department</button>
											<a class="btn btn-outline-secondary float-right" type="reset"
												style="width: 45%" th:href="@{/home/user/selectdepartment}">RESET</a>
										</div>



									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>

</html>
